In [1]:
import pandas as pd

In [4]:
s1 = pd.Series([71, 84, 56, 23, 56, 98, 56])
print(s1)

0    71
1    84
2    56
3    23
4    56
5    98
6    56
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [5]:
s2 = pd.Series([71, 84, 56, 23, 56, 98, 56], index=['Dhruv', 'Anuj', 'Ujwal', 'Akhil', 'Arun', 'Vishal', 'Abhishek'])
print(s2)

Dhruv       71
Anuj        84
Ujwal       56
Akhil       23
Arun        56
Vishal      98
Abhishek    56
dtype: int64

In [6]:
s2['Arun']

np.int64(56)

In [7]:
s2['Vishal']

np.int64(98)

In [11]:
data = {
    "Name": ["Dhruv", "Arun", "Akhil", "Abhishek"],
    "Age": [22, 24, 20, 30],
    "City": ["Gurgao", "Delhi", "Greater-Noida", "Bulandshahr"]
}

In [13]:
df = pd.DataFrame(data)
print(df)

       Name  Age           City
0     Dhruv   22         Gurgao
1      Arun   24          Delhi
2     Akhil   20  Greater-Noida
3  Abhishek   30    Bulandshahr