In [1]:
from bs4 import BeautifulSoup

In [2]:
with open("00_HTMLs/page1.html") as f:
    content = f.read()

In [3]:
soup = BeautifulSoup(content, "html.parser")

In [4]:
h3s =soup.find_all("h3")

In [5]:
articles = soup.select("article.product_pod")

In [6]:
items = []
for article in articles:
    title = article.find("h3").find("a")["title"]
    price = article.select_one("p.price_color").text.split("Â£")[1]
    rating_element = article.select_one("p.star-rating")
    rating = rating_element['class'][1]
    items.append([title, price, rating])

In [7]:
items

[['A Light in the Attic', '51.77', 'Three'],
 ['Tipping the Velvet', '53.74', 'One'],
 ['Soumission', '50.10', 'One'],
 ['Sharp Objects', '47.82', 'Four'],
 ['Sapiens: A Brief History of Humankind', '54.23', 'Five'],
 ['The Requiem Red', '22.65', 'One'],
 ['The Dirty Little Secrets of Getting Your Dream Job', '33.34', 'Four'],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  '17.93',
  'Three'],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  '22.60',
  'Four'],
 ['The Black Maria', '52.15', 'One'],
 ['Starving Hearts (Triangular Trade Trilogy, #1)', '13.99', 'Two'],
 ["Shakespeare's Sonnets", '20.66', 'Four'],
 ['Set Me Free', '17.46', 'Five'],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", '52.29', 'Five'],
 ['Rip it Up and Start Again', '35.02', 'Five'],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  '57.25',
  'Three'],
 ['Olio', '23.88', 'One'],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849', '37.59', 'One'],
 ['Libertarianism for Beginners', '51.33', 'Two'],
 ["It's Only the Himalayas", '45.17', 'Two']]

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(items, columns=["Book Title", "Price", "Rating"])
df.head()

                              Book Title  Price Rating
0                   A Light in the Attic  51.77  Three
1                     Tipping the Velvet  53.74    One
2                             Soumission  50.10    One
3                          Sharp Objects  47.82   Four
4  Sapiens: A Brief History of Humankind  54.23   Five

In [10]:
df.to_csv("data1.csv", index=False)