In [19]:
import pandas as pd
from bs4 import BeautifulSoup
items = []

In [31]:
for i in range(1, 51):
    filename = f"00_HTMLs/page{i}.html"
    
    with open(filename, 'r', encoding='utf-8') as f:
        content = f.read()
    soup = BeautifulSoup(content, "html.parser")
    articles = soup.select("article.product_pod")

    for article in articles:
        title = article.find("h3").find("a")["title"]
        price = article.select_one("p.price_color").text.strip().split("Â£")[1]
        rating_element = article.select_one("p.star-rating")
        rating = rating_element['class'][1]
        items.append([title, price, rating])
print(f"Loop finished! Found {len(items)} items in total.")

Loop finished! Found 1960 items in total.

In [32]:
df = pd.DataFrame(items, columns=["Book Title", "Price", "Rating"])

In [33]:
df.head()

                              Book Title  Price Rating
0                   A Light in the Attic  51.77  Three
1                     Tipping the Velvet  53.74    One
2                             Soumission  50.10    One
3                          Sharp Objects  47.82   Four
4  Sapiens: A Brief History of Humankind  54.23   Five

In [34]:
df.to_csv("scraped_all_50_pages.csv", index=False)